.ValidatedField.isNotCorrect input{
    border: 1px solid red;
}

.ValidatedField input{
    width: 450px;
    background: #fff;
    border: 1px solid #f0f0f0;
    font-size: 14px;
    color: #212121;
    box-shadow: inset 0px 0px 4px rgba(240, 240, 240, 0.9);
    padding: 10px 25px;
}

.ValidatedField p {
    color: red;
    font-style: italic;
    font-size: 12px;
    padding: 0;
    margin: 0;
}