.BankomatMain {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #212121;
    padding: 50px;
    background: #f6f6f6;
    width: 600px;
    position: relative;
    margin: 0 auto;
}

.BankomatMain .BankomatMainBlock{
    margin-bottom: 20px;
}

.BankomatMain h1{
    margin-bottom: 40px;
    margin-top: 0;
}