.ClientsOverviewList {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #212121;
    padding: 50px;
    background: #f6f6f6;
    width: 700px;
    position: relative;
    margin: 0 auto;
}

.ClientsOverviewList table td{
    border: 0;
    padding: 10px 0;
    border-bottom: 1px solid #212121;

}

