.TitlesTable input {
    font: 16px Arial;
}

.TitlesTable td {
    border-top: 1px solid #000;
    padding: 5px;
}

.TitlesTable th {
    cursor: pointer;
    padding: 5px;
    text-align: left;
}

.TitlesTable table {
    border: 1px solid #000;
    margin: 20px 0;
    width: 100%;
}

.TitlesTable .toolbar {
    margin-left: 20px;
}

